<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3> GESTIONAR USUARIOS</h3>
        <div>
            <table>
                <thead>
                    <th>
                        <td>Nombre Completo</td>
                        <td>Correo Electronico</td>
                        <td>Tipo</td>
                        <td>Foto</td>
                        <td>Acción</td>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>